extends layout

block header
	script(src='/js/bootstrap-select.min.js')
	link(rel='stylesheet', href='/css/bootstrap-select.min.css')
	style.
		.tdLinkBtn {
			padding: 0;
			border: 0;
		}

block content
	.col-xs-12.page-header
		h2.text-info
			b Submission History

	.row
		.col-xs-12.col-sm-6.col-md-2.form-group
			label(for='selectCategory') Category
			select.form-control.selectpicker#selectCategory
				option(value='0') All
				option(value='1') Homework
				option(value='2') Exercise
				option(value='3') Project

		.col-xs-12.col-sm-6.col-md-5.form-group
			label(for='selectId')
				| Problem ID
				| #[small.text-muted (Multiple selection)]
			select.form-control.selectpicker#selectId(multiple, title='All', data-selected-text-format='count > 3', data-size='10')
				optgroup(label='Homework')#homeworkGroup
					each file in homeworkList
						option(title=decodeURIComponent(file.fileName), value=file.id, data-subtext=decodeURIComponent(file.homeworkName))=decodeURIComponent(file.fileName)

				optgroup(label='Exercise')#exerciseGroup
					each file in exerciseList
						option(title=decodeURIComponent(file.fileName), value=file.id, data-subtext=decodeURIComponent(file.exerciseName))=decodeURIComponent(file.fileName)

				optgroup(label='Exercise')#projectGroup
					each file in projectList
						option(title=decodeURIComponent(file.fileName), value=file.id, data-subtext=decodeURIComponent(file.projectName))=decodeURIComponent(file.fileName)

		.col-xs-12.col-sm-6.col-md-2.form-group#resultGroup
			label(for='selectResult')
				| Result
				| #[small.text-muted (Multiple selection)]
			select.form-control.selectpicker#selectResult(multiple, title='All', data-selected-text-format='count > 2')
				- const results = ['Correct', 'Incorrect', 'Compile Error', 'Timeout', 'Runtime Error', 'Fail to run'];
				each result, index in results
					option(value=index)=result

		.col-xs-12.col-sm-6.col-md-3.form-group
			label(for='selectEmail')
				| Email
				| #[small.text-muted (Multiple selection)]
			select.form-control.selectpicker#selectEmail(multiple, title='All')
				each email in emailList
					option(value=email.email)=email.email

	if admin
		.row
			.col-xs-12.form-group
				label(for='selectUser') User
				select.form-control.selectpicker#selectUser(multiple, data-actions-box='true', data-live-search='true')
					each user in userList
						option(value=user.student_id, data-subtext=user.student_id)=decodeURIComponent(user.name)

	.row
		.col-xs-12
			.table-responsive
				table.table.table-bordered.table-striped.table-hover
					thead
						tr
							th.col-xs-1 ID
							th.col-xs-1.categoryCol Category
							th File name #[small.text-muted (Click to see)]
							th.col-xs-2.resultCol Result #[small.text-muted (Click to see)]
							th Timestamp
							th Email
							if admin
								th User
					tbody#resultTable

	nav.text-center#page-nav(aria-label='Page navigation')
		ul.pagination#page-ul
			li#page-prev
				a(href='#', aria-label='Previous')
					span(aria-hidden='true') «
			li#page-next
				a(href='#', aria-label='Next')
					span(aria-hidden='true') »

	include modal-source_code

	include modal-result

	if admin
		script(src='/js/submission_history_admin.js')
	else
		script(src='/js/submission_history.js')
